/* Layout */

body {
    background-color: whitesmoke;

    font-family: Roboto, sans-serif;
}

#page {
    display: flex;
    flex-direction: column;

    max-width: 1200px;
    min-height: 100vh;
    margin: 0px auto;

    background-color: white;
}

.dark {
    display: flex;
    justify-content: space-between;

    background-color: darkslateblue;
    color: white;
}

.dark :any-link {
    text-decoration: none;
    color: white;
}

/* Header */

header {
    padding: 0px;

    font-weight: bolder;
}

#menu {
    display: flex;

    margin: 0px;
    padding: 0px;

    list-style: none;
}

#menu a {
    display: block;
    padding: 10px 20px;
}

#menu a.active {
    background-color: mediumslateblue;
}

#menu a:hover {
    box-shadow: inset 0px -5px 0px 0px mediumslateblue;
}

/* Main */

main {
    padding: 10px 15px;

    background-color: white;
    color: #333;
}

/* Footer */

footer {
    margin-top: auto;
    padding: 10px 15px;

    font-size: smaller;
}
